@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #101010;
  --sec: #3d02b3;
  --white: #dfdfdf;
  --white-icon: #f3f3f398;
  --white-icon-tr: #f3f3f310;
  --font: "montserrat", system-ui, sans-serif;
}

* {
  font-family: var(--font);
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

*::selection {
  background-color: var(--sec);
  color: var(--background);
}

/* Scrollbar styles */
::-webkit-scrollbar {
  width: 15px;
}

::-webkit-scrollbar-track {
  background: var(--container);
  border-radius: 30px;
}

::-webkit-scrollbar-thumb {
  background: var(--background);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: var(--pink);
}

/* Scrollbar styles for Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: var(--line) var(--container);
}
